{% extends 'base.html' %}
{% block title %}
Categories
{% endblock title %}
{% block content %}
<table>
    <thead>
        <th>Name</th>
        <th>Number of Receipts</th>
    </thead>
    <tbody>
        {% for categories in category_list %}
        <tr>
            <td>{{categories.name}}</td>
            <td>{{categories.all|length}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
